{% extends "layout.html" %}

{% block content %}

<h2 mt-5>{{ title }}</h2>

<p class="lead">
    Ceník je dělaný, tak, aby pokud možno pokryl všechny možné kombinace a varianty focení, pokud jste si nevybraly z následujících možností, nevadí. Ráda s Vámi vymyslím variantu, která Vám bude vyhovovat nejlépe.
</p>
<p class="lead">
    U novorozeneckých fotografií mě kontaktujte co nejdříve po porodu a společně vymyslíme termín, kdy se budete cítit na focení miminka. Novorozenecké fotografie můžeme fotit v ateliéru nebo ve Vašem domácím prostředí. Důležité je, abyste se cítili pohodlně a focení si užili bez stresu.
</p>

<h3 class="mt-5">Interiér</h3>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Rychlovka</h4>
        <h6 class="card-subtitle mb-2 text-muted">Profilové fotografie, párové focení</h6>
        <p class="card-text">
            <ul>
                <li>délka focení je 60 minut</li>
                <li>10-15 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 1600,- Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Normálka</h4>
        <h6 class="card-subtitle mb-2 text-muted">Párové focení, beauty, těhotenské fotografie</h6>
        <p class="card-text">
            <ul>
                <li>délka focení je 90 minut</li>
                <li>20-25 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 2200,- Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Klídek</h4>
        <h6 class="card-subtitle mb-2 text-muted">Rodinné fotografie, beauty, těhotenské fotografie v páru</h6>
        <p class="card-text">
            <ul>
                <li>délka focení je 120 minut</li>
                <li>30-35 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 2800,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Pohodička</h4>
        <h6 class="card-subtitle mb-2 text-muted">Rodiny s malými dětmi</h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 3 hodiny</li>
                <li>cca 40 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 3500,- Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Novorozeňátka</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení 4-5 hodin</li>
                <li>20-25 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 4000,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Beauty</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení 2-3 hodiny</li>
                <li>25 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 3000,- Kč</li>
            </ul>
            Možnost vizážistky a kadeřnice cena po upřesnění účesu, líčení, místa.
        </p>
    </div>
</div>


<h3 class="mt-5">Exteriér</h3>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Rychloprocházka</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení 90 minut</li>
                <li>25-30 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 2500,- Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Procházka</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení 120 minut</li>
                <li>35- 40 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 3000,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Pohodová procházka</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 3 hod.</li>
                <li>cca 45 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 3500,- Kč</li>
            </ul>
        </p>
    </div>
</div>


<h3 class="mt-5">Svatební focení</h3>

<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Rychlosvatba</h4>
        <h6 class="card-subtitle mb-2 text-muted">Příjezd nevěsty a ženicha, obřad, gratulace, skupinové focení, pár fotek novomanželů</h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 3 hodiny</li>
                <li>cca 200 fotografií v plné kvalitě</li>
                <li>cena 4500,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Malá svatba</h4>
        <h6 class="card-subtitle mb-2 text-muted">Příjezd nevěsty a ženicha, obřad, gratulace, skupinové focení, focení novomanželů, hostina</h6>
        <p class="card-text">
            <ul>
                <li>délka focení 6 hodin</li>
                <li>cca 300 fotografií v plné kvalitě</li>
                <li>cena 7500,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Svatba</h4>
        <h6 class="card-subtitle mb-2 text-muted">Příjezd nevěsty a ženicha, obřad, gratulace, skupinové focení, focení novomanželů, hostina, dort, první tanec</h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 8 hodin</li>
                <li>cca 400 fotografií v plné kvalitě</li>
                <li>cena 9500,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Velká svatba</h4>
        <h6 class="card-subtitle mb-2 text-muted">Přípravy na svatbu, příjezd nevěsty a ženicha, obřad, gratulace, skupinové focení, focení novomanželů, hostina, dort, první tanec, dění na oslavě</h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 10 hodin</li>
                <li>cca 500 fotografií v plné kvalitě</li>
                <li>cena 11500,- Kč</li>
            </ul>
        </p>
    </div>
</div>
<p>
    Mimo Prahu a Teplice účtována doprava 6 Kč/km.
</p>

    {% endblock %}
